<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="col-md-12 fh5co-copyright text-center">
            <p>&copy; 2016 Free HTML5 template. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images by <a href="http://unsplash.com/" target="_blank">Unsplash</a></span></p>
        </div>
    </div>
</footer>

{#<footer class="footer">#}
    {#<ul class="nav nav-pills pull-right">#}
        {#{% for item in menus.footer_menus??[] %}#}
            {#{% if (item.active??0) %}#}
                {#<li role="presentation" class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>#}
            {#{% else %}#}
                {#<li role="presentation"><a href="{{ item.link }}">{{ item.title }}</a></li>#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</ul>#}
    {#<p>&copy; 2016 Company, Inc.</p>#}
{#</footer>#}