<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block page_title %}
        <title>...</title>
    {% endblock %}
    {% block meta_tags %}
    {% endblock %}

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/web/themes/custom/mytea/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/web/themes/custom/mytea/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/web/themes/custom/mytea/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/web/themes/custom/mytea/css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/web/themes/custom/mytea/css/style.css">

    {{ (styles??'')|raw }}

    <!-- CSS Page Style -->
    {% block stylesheets %}
    {% endblock %}

    <!-- Modernizr JS -->
    <script src="/web/themes/custom/bb2016/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/web/themes/custom/bb2016/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="fh5co-page">
    {% block page %}
    {% endblock %}
</div>

<!-- jQuery -->
<script src="/web/themes/custom/mytea/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/web/themes/custom/mytea/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/web/themes/custom/mytea/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/web/themes/custom/mytea/js/jquery.waypoints.min.js"></script>
<!-- MAIN JS -->
<script src="/web/themes/custom/mytea/js/main.js"></script>
{{ (scripts??'')|raw }}
{% block javascripts %}

{% endblock %}

</body>

</html>