{% extends '@front/base.html.twig' %}
{% block page_content %}
<div class="wrapper">

    {{ (regions.header??'')|raw }}

    <h1>Special Page Template</h1>
    {% block content %}
    <h1>Content</h1>
    {% endblock %}

    {{ (regions.footer??'')|raw }}
</div>
{% endblock %}